<!DOCTYPE html>
<html>
<head>
<title>Secure Voting Login</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
body{
background:linear-gradient(120deg,#1e3c72,#2a5298);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}
.card{
border-radius:15px;
}
</style>

</head>

<body>

<div class="card shadow p-4" style="width:380px">

<h3 class="text-center mb-4">Secure Voting Login</h3>

<form method="POST" action="/login">

<div class="mb-3">
<label>Voter ID</label>
<input type="text" name="voter_id" class="form-control" required>
</div>

<div class="mb-3">
<label>Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<button class="btn btn-primary w-100">Login</button>

</form>

<hr>

<a href="/register" class="btn btn-outline-secondary w-100">Register</a>

<hr>

<a href="/admin" class="btn btn-dark w-100">Admin Login</a>

</div>

</body>
</html>